@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */

/* Animatsiya qo'shish */
@keyframes wave {
  0% { transform: scale(0.8); }
  50% { transform: scale(1); }
  100% { transform: scale(0.8); }
}

.wave-effect {
  animation: wave 2s infinite ease-in-out;
}

/* Rangli nuqtalar uchun animatsiya */
@keyframes dot-flashing {
  0% { color: #000000; }
  25% { color: #000000; }
  50% { color: #2b00ff; }
  75% { color: #ff0000; }
  100% { color: #000000; }
}

.dot {
  font-size: 2rem; /* Nuqtalarni kattalashtirish */
  display: inline-block;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Har bir nuqtaning rang o'zgarishini boshqarish */
.dot:nth-child(1) {
  animation-name: dot-flashing;
}

.dot:nth-child(2) {
  animation-name: dot-flashing;
  animation-delay: 0.5s; /* Ikkinchi nuqta kechikish bilan boshlanadi */
}

.dot:nth-child(3) {
  animation-name: dot-flashing;
  animation-delay: 1s; /* Uchinchi nuqta yana kechikish bilan boshlanadi */
}
